DELETE FROM TRANSDBFPATH WHERE exchId='0' AND deskId='$deskId' AND dbfId='$dbfId' AND pathFlag=$pathFlag;
INSERT INTO TRANSDBFPATH (EXCHID, DESKID, DBFID, MDBFFULLPATH, MDBFRECNO, MDBFSTATUS, BDBFFULLPATH, BDBFRECNO, BDBFSTATUS, LASTMODDATE, CHINESENAME, PATHFLAG, DATAWRITEMODE, OPTID, TRANSCTRLFLAG, TOTALRECNUM, BUYRECNUM, SELLRECNUM, WITHDRAWRECNUM, OFFERDESKID, FLAG)
VALUES ('0', '$deskId', '$dbfId', '$mdbfFullPath', 0, '1', '', 0, '0', -1, '$chineseName', $pathFlag, '0', '$optId', $transCtrlFlag, 0, 0, 0, 0, ' ', $flag);







DELETE FROM CF_FORMULADEFINE WHERE formulaType = '$formulaType';
INSERT INTO CF_FORMULADEFINE (formulaType, formulaId, exchId, specification, interiorDesc, fromTable, sqlScript, fromTable2, sqlScript2, actionType) VALUES ('$formulaType', $formulaId,'','$specification','$specification','','','','','Query');

UPDATE CF_FORMULADEFINE SET sqlScript='$sqlScript' WHERE formulaType='$formulaType' AND formulaId=$formulaId;
